body{
background-color: blue;
background-image: url(https://image.shutterstock.com/image-vector/abstract-geometric-pattern-lines-rhombuses-260nw-444128929.jpg);
}
iframe {width; 100%;
height:60vh;
}
.links {
color:skyblue;
}
